.main-canvas {
  max-width: 100%;
  height: auto;
  width: 100svw;
  height: 100svh;
  /* height: 93svh; */
  touch-action: auto !important;
  position: relative;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  visibility: hidden;
  display: none;
}

.game-canvas {
  max-width: 100%;
  height: auto;
  width: 480px;
  height: 432px;
  touch-action: auto !important;
  position: relative;
}
